# Godot 4
.godot/

# Godot Mono / C#
.mono/
data_*/
*.tmp

# Build / export
bin/
obj/
[Bb]uild/
[Bb]uilds/
export.cfg
export_presets.cfg

# Visual Studio / VS Code
.vs/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# OS
.DS_Store
Thumbs.db
Desktop.ini

# C#
*.user
*.userprefs
*.suo

# Logs
*.log